.topo {
  margin: 0 auto;
  margin-bottom: 30px;
  max-width: 1200px;
  padding-left: 100px;
  margin-top: 20px;
  background-color: #4876ff;
  display: flex;
  align-items: center;

  h1 {
    //text-align: center;
    margin-left: 250px;
    color: #fff;
  }
}
